@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}


/* Navigations styling */
#navbar{
    position: fixed;
    width:100%;
    padding: 17px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease-in-out;
    z-index: 999;
}
#navbar.sticky{
    padding: 15px 0;
    background: #009efd;
    opacity: 0.8;
}
nav .menu-items{

    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    list-style: none;
    padding: 0vh 4vw;
}
nav .menu-items li{
    list-style:none;
    display:inline-block;
    text-decoration: none;
    margin-top: -18px;
}
nav .menu-items li a{
    position: relative;
    display: block;
    text-decoration: none;
    margin-left: 20px;
    padding: 16px 0;
    font-weight: 500;
    font-size: 20px;
    color:white;
    transition:color 0.3s ease;
}
nav .menu-items li a:hover~.animation{
    color:#fff;
}
nav.sticky .menu-items li a:hover{
    color:white;
}
.menu-button{
    color:white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    display:none;
}
.menu-button i.active::before{
    content: "\f00d";
}
.logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.logo a span{
    color: #009efd;
}
#navbar.sticky .logo a span{
    color: white;
}
/* Navigation achor hovers */
.nav-link::before{
    content: "";
    position: absolute;
    display:block;
    bottom:3px;
    left:0;
    height:3px;
    width:100%;
    background-color: #009efd;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.3s ease-out;
}
.nav-link:active::before{
    background-color: #009efd;
}
.nav-link:hover::before, #nav-link:focus::before{
    transform-origin: left top;
    transform: scale(1, 1);
}
/* Max-width styling */
.max-width{
    max-width: 1680px;
    padding:0 80px;
    margin: auto;
}
nav .max-width{
    Display:flex;
    align-items: center;
    justify-content: space-between;
}
.scroll-up-btn{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    height:45px;
    width:42px;
    background:#009efd;
    right:30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color:#fff;
    z-index: 9999;
    font-size: 30px;
    border-radius:6px;
    opacity:0;
    cursor: pointer;
    pointer-events: none;
    transition:all 0.3s ease;
}
.scroll-up-btn.show{
    bottom:30px;
    opacity:1;
    pointer-events: auto;
}
/* Welcome page styling starts here */
#welcome-section{
    display: flex;
    width:100%;
    height: 910px;
    background: url(..src/pages/components/images/man_smoke.jpg) no-repeat center;
    background-size:492px;
    background-color: black;
    color:white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: -40px;
}
#welcome-section .max-width{
    margin: 0 0 auto 40px; 
}
#welcome-section .home-content{
    margin-top: 280px;
}
#welcome-section .home-content .text1{
    font-size: 27px;  
}
#welcome-section .home-content .text2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;    
}
#welcome-section .home-content .text3{
    font-size: 40px;
    margin:5px 0;
}
#welcome-section .home-content .text3 span{
    color: #009efd;
    font-weight: 500;
}
#welcome-section .home-content a{
    display: inline-block;
    background: #009efd;
    color:white;
    font-size: 25px;
    padding: 12px 36px;
    border-radius: 6px;
    border: 2px solid #009efd;
    transition: all 0.3s ease;
}
#welcome-section .home-content a:hover{
    color:white;
    background:none;
}
/* Similar related stylings for all sections */
#about-me, .services-section, .skills-section, .projects-section, .team-section, .contact-section{
    font-family: 'Poppins', sans-serif;
    width:100%;
    height: 910px;
    color:black;
}
.about-me .about-content, .services-section .services-content, .skills-section .skills-content, .contact-section .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
section .title{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size:40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .title::before{
    content:"";
    position:absolute;
    left: 50%;
    bottom:0px;
    width:180px;
    height:3px;
    background:#111;
    transform: translateX(-50%)
}
section .title::after{
    
    font-size: 20px;
    color:#009efd;
    position:absolute;
    left: 50%;
    bottom:-13px;
    padding: 5px;
    background:#fff;
    transform: translateX(-50%)
}


/* About me section */
.about-me .title::after{
    content:"who i am";
}

#about-img{
    width: 400px;
    height: 430px;
    object-fit: cover;
    border-radius:6px;

}
.about-me .about-content .left{
    width:45%;
}
.about-me .about-content .right{
    width:55%;
}
.about-me .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-me .about-content .right .text span{
    color:#009efd;
}
.about-me .about-content .right p{
    text-align: justify;
}
.about-me .about-content .right a{
    display: inline-block;
    background: #009efd;
    color:white;
    font-size: 20px;
    padding: 1px 3px;
    border-radius: 6px;
    border: 2px solid #009efd;
    transition: all 0.3s ease;
}
.about-me .about-content .right a:hover{
    color:black;
    background:none;
}

/* Services section starts here */
.services-section, .projects-section, .contact-section{
    background:#111;
    color: #FFF;
}
.services-section .title::after, .projects-section .title::after, .contact-section .title::after{
    background:#111;
    content: "what i offer";
}
.services-section .title::before, .projects-section .title::before, .contact-section .title::before{
    background: #fff;
}
.services-section .services-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding:20px 25px;
    cursor: pointer;
    transition:all 0.3s ease;
}
.services-section .services-content .card:hover{
    background:#009efd;
}
.services-section .services-content .card .box{
    transition:all 0.3s ease;
}
.services-section .services-content .card:hover .box{
    transform: scale(1.05);
}
.services-section .services-content .card i{
    font-size: 50px;
    color: #009efd;
    transition:color 0.3s ease;
}
.services-section .services-content .card:hover i{
    color:#fff;
}
.services-section .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* Skills section styling starts here */
.skills-section .title::after{
    content: "what i know"
}
.skills-section .skills-content .column{
    width: calc(50% - 30px);
}
.skills-section .skills-content .left .text{
    font-size:20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills-section .skills-content .left p{
    text-align: justify;
}
.skills-section .skills-content .left a{
    display: inline-block;
    background: #009efd;
    color:white;
    font-size: 20px;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 6px;
    border: 2px solid #009efd;
    transition: all 0.3s ease;
}
.skills-section .skills-content .left a:hover{
    color: #009efd;
    background:none;
}
.skills-section .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills-section .skills-content .right .info{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.skills-section .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}
.skills-section .skills-content .right bars{
    margin-bottom: 15px ;
}
.skills-section .skills-content .right .line{
    height:5px;
    width: 100%;
    background:lightgray;
    position: relative;
}
.skills-section .skills-content .right .line::before{
    content: "";
    position:absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:#009efd;
}
.skills-content .right .html::before{
     width:90%;
}
.skills-content .right .css::before{
    width:80%;
}
.skills-content .right .js::before{
    width:60%;
}
.skills-content .right .python::before{
    width:60%;
}
.skills-content .right .java::before{
    width:70%;
}
.skills-content .right .sql::before{
    width:75%;
}
.skills-content .right .asp::before{
    width:55%;
}
.skills-content .right .bal::before{
    width:65%;
}
.skills-content .right .php::before{
    width:80%;
}

/* Projects section styling starts here*/
.projects-section .title::after{
    content: "what i did";
}

.projects-section .carousel .card{
    width: 250px;
    height: 300px;
    z-index: 10;
    position:relative;
    margin: 35px 20px;
    cursor: pointer;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    padding:20px 25px;
    transition:all 0.4s;
}
/* .projects-section .projects-content .card h1{
    margin: 10px 0 7px 0;
} */
.projects-section .carousel .card p{
    padding: 5px 30px;
    text-align: center;
}
.projects-section .carousel .card .main{
    width:100%;
    height: 100%;
    position: absolute;
    background:#fdfdfd78;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(158, 157, 157);
    transform: scale(0);
    z-index: -1;
    border-radius: 10px;
    transition: all 0.4s;
}
.projects-section .carousel .card:hover{
    color: rgb(63, 63, 63);
}
.projects-section .carousel .card:hover .main{
    transform: scale(1);
}
.projects-section .carousel .card .black, .projects-section .carousel .card .white{
    position: absolute;
    width: 100%;
    height:100%;
    background:#009efd;
    transform: translate(15px, -15px);
    border-radius: 10px;
    z-index: -2;
}
.projects-section .carousel .card .white{
    background:#222;
    transform: translate(-15px, -15px);
}

/* Teams section stylings starts here */
.team-section .title::after{
    content: "who are we";
}
.team-section .carousel .card{
    background: rgb(216, 216, 216);
    border-radius: 6px;
    padding: 25px 35px;
    color: #111;
    text-align: center;
    transition:all 0.2s ease;
}
.team-section .carousel .card:hover{
    background:#009efd;
    color: #fff;
    cursor: pointer;
}
.team-section .carousel .card:hover .box{
    transform: scale(1.05);
}
.team-section .carousel .card .box{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    transition:all 0.3s ease;
}
.team-section .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.team-section .carousel .card img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #009efd;
}
.team-section .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    position: absolute;
    text-align: center;
    margin-top:20px;
    margin-left: 50%;
}
.owl-dot{
    height:13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #009efd!important;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active, .owl-dot:hover{
    background: #009efd!important;
}


/* Contact me section */
.contact-section .title::after{
    content: "get in touch";
}
.contact-section .contact-content .column{
    width: calc(50% - 30px);
}
.contact-section .contact-content .text{
    font-size:20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact-section .contact-content .left p{
    text-align: justify;
}
.contact-section .contact-content .left .icons{
    margin: 10px 0;
}
.contact-section .contact-content .row{
    display:flex;
    height:65px;
    align-items: center;
}
.contact-section .contact-content .row .info{
    margin-left: 30px;
}
.contact-section .contact-content .row i{
    font-size: 25px;
    color: #009efd;
}
.contact-section .contact-content.info{
    font-weight: 500;
}
.contact-section .contact-content .info .sub-title{
    color:#fff;
}
.contact-section .right form .fields{
    display:flex;
}
.contact-section .right form .fields .field, .contact-section .right form .field{
    height:45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact-section .right form .name{
    margin-right: 10px;

}
.contact-section .left form .email{
    margin-right: 10px;
    
}
.contact-section .right form .field input, .contact-section .right form .textarea textarea{
    height:100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding:0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact-section .right form .textarea textarea{
    padding-top: 10px;
    resize:none;
}
.contact-section .right form .textarea{
    height:80px;
    width:100%;

}
.contact-section .right form  .button{
    height: 47px;
    width: 130px;
}
.contact-section .right form  .button button{
    width:100%;
    height:100%;
    border: 2px solid #009efd;
    background:#009efd;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition:all 0.3s ease;
}
.contact-section .right form  .button button:hover{
    color:#009efd;
    background:none;
}

/* Main section styling starts here */
section{
    padding: 100px 0;
}


/* Footer section styling starts here */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background:#222;
    width:100%;
    padding: 20px 23px;
    color:#fff
}
footer span a{
    color:#009efd;  
}
footer span a:hover{
    text-decoration: underline;
}


/* Website responsitivity */
@media (max-width:630px) {
    #about-img{
        width: 100px;
        height: 150px;
    }
    .about-me .about-content .right .text{
        font-size: 14px;
    }
    .about-me .about-content .right a{
        font-size: 11px;
    }
    .services-section .services-content .card, .skills-section .skills-content .column, .projects-section .projects-content .card{
        width: 100%;
    }
}
@media (max-width:705px) {
    .about-me .about-content .right .text{
        font-size: 18px;
    }
    .about-me .about-content .right a{
        font-size: 15px;
    }
    
    #about-img{
        width: 200px;
        height: 260px;
    }
}


@media (max-width:800px) {
    .about-me .about-content .left{
        display:flex;
        justify-content:center;
        margin: 0 auto 60px;
    }
    .about-me .about-content .right{
        flex:100%;
    }
    .max-width{
        padding:0 50px;
    }
    #navbar .menu-items{
        position:fixed;
        height:100vh;
        width:100%;
        left:-100%;
        top: 0;
        background:black;
        padding-bottom: 80px;

        display: flex;
        flex-direction:column;
        align-items: center;

        transition: all 0.3s ease;
    }
   #navbar .menu-items.active{
        left: 0;
   } 
    #navbar .menu-items li{
        display:block;
    }
    #navbar .menu-items li a{
        display: inline-block;
        margin:50px 0;
        font-size: 24px;
    }
    .menu-button{
        display:block;
        z-index: 999;
    }
    #welcome-section .home-content{
        margin: 190px -40px;
    }
    #welcome-section .home-content .text2{
        font-size: 50px;
        font-weight: 600;
        margin-left: -3px;    
    }
    #welcome-section .home-content .text3{
        font-size: 30px;
        margin:5px 0;
    }
    #welcome-section{
        background-size:292px;
    }
    #welcome-section .home-content a{
        display: inline-block;
        background: #009efd;
        color:white;
        font-size: 20px;
        padding: 12px 20px;
    }
    .about-me .about-content .column{
        width: 50%;
    }
    #about-img{
        width: 200px;
        height: 250px;
    
    }
    .skills-section .skills-content .column{
        width: 100%;
    }
}
@media (max-width:947px) {
    .services-section .services-content .card, .projects-section .projects-content .card{
        width: calc(50% -10px);
        margin-bottom: 20px;
    }
    .skills-section .skills-content .column, .contact-section .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .services-section{
        height: auto;
    }
}
@media (max-width:1080px) {
    #about-img{
        width: 250px;
        height: 300px;
    }
}